## Training and Validation Sets
- The dataset is typical of a real world example, highly imbalanced as learned from the eda
- The idea is get a representative distribution of the nodules in both the training and validation set.

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
data_dir = Path.cwd().parent / 'LUNA'

## Data

In [5]:
candidates_df = pd.read_csv(data_dir / 'candidates.csv')
annot_df = pd.read_csv(data_dir / 'annotations.csv')

In [14]:
annot_df.shape

(1186, 5)

In [9]:
annot_df.head() # What is relation between these nodules and those in the candidates in the df?

,seriesuid,coordX,coordY,coordZ,diameter_mm
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-128.699421,-175.319272,-298.387506,5.651471
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.783651,-211.925149,-227.121250,4.224708
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100398138793...,69.639017,-140.944586,876.374496,5.786348
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,-24.013824,192.102405,-391.081276,8.143262
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,2.441547,172.464881,-405.493732,18.545150

In [12]:
annot_df['seriesuid'].nunique()

601

In [15]:
candidates_df['seriesuid'].nunique()

888

## Explore uids that appear in both datasets.

In [19]:
df = annot_df.join(other=candidates_df, lsuffix="_left", rsuffix="_right")
df.head()

,seriesuid_left,coordX_left,coordY_left,coordZ_left,diameter_mm,seriesuid_right,coordX_right,coordY_right,coordZ_right,class
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-128.699421,-175.319272,-298.387506,5.651471,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-56.08,-67.85,-311.92,0
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.783651,-211.925149,-227.121250,4.224708,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,53.21,-244.41,-245.17,0
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100398138793...,69.639017,-140.944586,876.374496,5.786348,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.66,-121.80,-286.62,0
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,-24.013824,192.102405,-391.081276,8.143262,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-33.66,-72.75,-308.41,0
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,2.441547,172.464881,-405.493732,18.545150,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-32.25,-85.36,-362.51,0

Joining the dataframes on the uid doesn't necessarily join a nodule with its corresponding nodule.